<fieldset>
    <legend>Edit Listing</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='painting-title'>Title</label><br>
        <input class='form-control' id='painting-title' type='text' name='title' value='{{ painting.title }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='description'>Description</label><br>
        <input class='form-control' id='description' type='text' name='description' value='{{ painting.description }}' />
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='painting-images'>Provide Images</label><br/>
        <p class='text-muted'>Provide Images in the form of [image URL] separated by new lines.</p>
        <textarea class='form-control' id='painting-images' name='images' rows='10' />{{ "\n".join(painting.images) }}</textarea>
    </div>
</fieldset>